.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #beadfa;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.btn {
  margin: 3px;
}

body {
  background-color: #d0bfff;
  font-family: "Roboto", sans-serif;
  font-family: "Teko", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.game-info {
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #beadfa;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  margin-top: 1%;
}
div {
  border-radius: 5px;
  padding: 20px;
  border-style: solid;
  border-color: black;
}
